@use 'theme';
@use 'styleHelpers';

.page {
  @include styleHelpers.pageCompact();
  background-color: theme.color('background');
  flex: 1;
}

.authorCard {
  @include styleHelpers.flex('column');
  align-items: center;
  @include styleHelpers.card();
  padding: theme.spacing(1);
}

.avatar {
  @include styleHelpers.lockWidth(50%);
  margin-bottom: theme.spacing(2);
  border-radius: 100%;
  overflow: hidden;
}

.articleCard {
  @include styleHelpers.card();
  padding: 0;
}