@use 'theme';
@use 'styleHelpers';

.page {
  @include styleHelpers.page();
  background-color: theme.color('background');
  flex: 1;
}

.authorCard {
  @include styleHelpers.flex('column');
  @include styleHelpers.card();
  padding: theme.spacing(1);
}

.avatar {
  @include styleHelpers.lockWidth(28%);
  border-radius: 100%;
  overflow: hidden;

  @include theme.mediaQuery('md') {
    @include styleHelpers.lockWidth(75%);
    align-self: flex-end;
    margin-bottom: theme.spacing(2);
  }
}

.divider {
  margin: theme.spacing(2, 0);
}