@use 'theme';

@mixin lightTheme {
  --colors-primary_main: #050505;
  --colors-primary_contrastText: #ffffff;
  --colors-primary_contrastTextMuted: rgba(255,255,255,0.8);
  --colors-accent_main: #cc0033;
  --colors-accent_contrastText: #fff;
  --colors-divider: rgba(0, 0, 0, 0.12);

  --colors-highlight: rgba(0,0,0,0.05);

  --colors-text: #000;
  --colors-textMuted: #555555;

  --colors-surface: #fff;

  --colors-navbar: rgba(255,255,255,0.92);

  --colors-background_dark: #f7f7f7;
  --colors-background_main: #ffffff;
  --colors-background_light: #ffffff;

  --colors-tooltip: #333;
  --colors-tooltip_contrastText: #fff;
}

@mixin darkTheme {
  --colors-primary_main: #000000;
  --colors-primary_contrastText: #ffffff;
  --colors-primary_contrastTextMuted: rgba(255,255,255,0.8);
  --colors-accent_main: #f70737;
  --colors-accent_contrastText: #fff;
  --colors-divider: #333;

  --colors-highlight: rgba(255,255,255,0.3);

  --colors-text: #fff;
  --colors-textMuted: #b9b9b9;

  --colors-surface: #222;

  --colors-navbar: rgba(0, 0, 0, 0.973);

  --colors-background_main: #131313;
  --colors-background_light: #111;

  --colors-tooltip: #fff;
  --colors-tooltip_contrastText: #000;

  color: var(--colors-text);
}

:root {
  @include lightTheme;
}

.force-dark-mode {  
  @include darkTheme;
}

@media only screen {
  .dark-mode {
    @include darkTheme;
  }
}

// @media only screen and (prefers-color-scheme: dark) {
//   /* Dark Mode */
//   :root {
//     @include darkTheme;
//   }
// }

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background-color: var(--colors-background_light);
}

*:focus .showOnFocus {
  opacity: 1;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span { 
  padding: 0;
  margin: 0;
}

a {
  color: var(--colors-accent_main);
}

table tr th,
table tr td {
  text-align: left;
}

table tr th:last-child,
table tr td:last-child {
  text-align: right;
}

table th {
  background-color: var(--background-color);
}

table th,
table td {
  padding: 0;
}

table tr td {
  border-bottom: 1px solid var(--divider-color);
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

.hide-scrollbars {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

[aria-label] {
  position: relative;

  &[data-tooltip-position="none"] {
    &:after {
      display: none !important;
    }
  }

  &[data-tooltip-position="right"] {
    &:after {
      left: 0px;
    }
  }

  &[data-tooltip-position="left"] {
    &:after {
      right: 0px;
    }
  }

  &[data-tooltip-position="center"] {
    &:after {
      // right: 0px;
      top: 55%;
    }
  }
}

.hamburger-react:after {
  // Aria label position
  right: 0 !important;
  left: unset !important;
  content: '' !important;
  display: none !important;
}

[aria-label]:after {
  content: attr(aria-label);
  display: block;
  position: absolute;
  top: 110%;
  z-index: 5000;
  pointer-events: none;
  padding: 8px 10px;
  line-height: 15px;
  white-space: nowrap;
  text-decoration: none;
  text-indent: 0;
  overflow: visible;
  font-size: .9em;
  font-weight: normal;
  color: var(--colors-tooltip_contrastText);
  background-color: var(--colors-tooltip);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
  box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
  visibility: hidden;
  opacity: 0;
  outline: none;
  outline-width: 0;
}

[aria-label]:focus:after {
  visibility: visible;
  opacity: 1;
}

[aria-label]:hover:after {
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity 250ms 600ms;
}

.accessibility-outline {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

@media print {
  body * {
    visibility: hidden;
    height: 0;
  }
}

*[id] {
  scroll-margin-top: 65px;
}

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: theme.color('accent_main');
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}