@use 'theme';
@use 'styleHelpers';

.page {
  @include styleHelpers.page();
  background-color: theme.color('background');
  flex: 1;
}

.authorCard {
  @include styleHelpers.flex('column');
  align-items: center;
  @include styleHelpers.card();
  padding: theme.spacing(1);
}

.divider {
  margin: theme.spacing(2, 0);
}