@use 'theme';
@use 'styleHelpers';

.bannerWrap {
  @include styleHelpers.flex('row');
  justify-content: center;
  overflow: hidden;
}

.dev {
  background-color: #eee;
}

@media print {
  .bannerWrap {
    display: none;
  }
}