@use 'theme';
@use 'styleHelpers';

.bannerWrap {
  @include styleHelpers.flex('row');
  justify-content: center;
}

.banner {
  @include styleHelpers.lockHeight(90px);
  width: 970px;
  max-width: 100%;
}