@use 'styleHelpers';
@use 'theme';

.logoWrap {
  @include styleHelpers.card;
  background-color: theme.color("primary_main");
  padding: theme.spacing(2);
  margin: theme.spacing(0, 0, 2);
  display: flex;
  justify-content: center;
}

.logo {
  text-transform: uppercase;
  font-weight: 900;
  font-size: calc(32px + 2vw);
  color: #fff;
}

.logoAccent {
  color: theme.color("accent_main");
  display: inline;
}