@use 'styleHelpers';
@use 'theme';

.button {
  @include styleHelpers.hideButton();
  @include styleHelpers.hideLink();
  padding: theme.spacing(2, 8);
  background-color: theme.color("accent_main");
  border-radius: theme.roundness(1);
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
}

.textButton {
  color: theme.color("accent_main");
  cursor: pointer;
  @include styleHelpers.hideButton();
}