@use 'styleHelpers';
@use 'theme';

// breakSpaces: {
//   whiteSpace: 'break-spaces'
// },
// avatarWrap: {
//   ...styleHelpers.hideLink(),
//   [theme.mediaQuery('xs', 'sm')]: {
//     display: 'none'
//   }
// }


.row {
  @include styleHelpers.flex('row');
  align-items: center;
  margin: theme.spacing(2, 0, 5);
}

.column {
  @include styleHelpers.flex('column');
  max-width: 100%;
}

.avatar {
  @include styleHelpers.centerBackgroundImage();
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: theme.spacing(2);

  @include theme.mediaQuery('xs', 'sm') {
    display: none;
  };
}

.date {
  color: theme.color('textMuted');
}

.author {
  color: theme.color('accent_main');
  margin-bottom: theme.spacing(1);
  display: block;
}

.authors {
  @include styleHelpers.flex('row');
  flex-wrap: wrap;
  margin-bottom: theme.spacing(0.4);

  * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.hideLink {
  @include styleHelpers.hideLink();
}

.breakSpaces {
  white-space: break-spaces;
}

.bylineCompact {
  margin: theme.spacing(1, 0);
}

.bylineCompactAuthor {
  color: theme.color('textMuted');
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  font-style: italic;
}

.bylineCompactDate {
  color: theme.color('accent_main');
  margin-right: theme.spacing(2);
}