@use 'theme';
@use 'styleHelpers';

.backdrop {
  @include styleHelpers.absoluteFill();
  position: fixed;
  z-index: 2000;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px) contrast(20%);
}

.closeIcon {
  @include styleHelpers.hideButton();
  position: absolute !important;
  top: theme.spacing(2);
  right: theme.spacing(2);
  cursor: pointer;
  color: #fff;
  z-index: 2001;
}

.modal {
  background-color: theme.color('surface');
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  max-height: 90vh;
  width: calc(750px + 30vw);
}

.hide {
  opacity: 0;
  pointer-events: none;
}