@use 'theme';
@use 'styleHelpers';

$HEIGHT: 60px;

.navbarWrap {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  background-color: theme.color('navbar');
  backdrop-filter: saturate(180%) blur(10px);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: theme.color('divider');
  height: $HEIGHT;
  overflow: visible;

  
}

.navbarSpacer {
  height: $HEIGHT;
}

.inner {
  @include styleHelpers.flex('row');
  flex: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: $HEIGHT;
}

.noPadding {
  padding: 0;
  margin: 0;
}

.logo {
  width: 175px;
  height: auto;
  margin-top: 8px;
  color: theme.color('text');
}

.links {
  @include styleHelpers.flex('row');
  justify-content: flex-end;
  align-items: center;
}



.link {
  text-decoration: none;
  color: theme.color('text');
  margin: theme.spacing(0, 1);
  padding: theme.spacing(1);
  height: $HEIGHT;
  align-items: center;
  display: flex;
  border-width: 0;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-color: transparent;
  border-style: solid;
  transition: border-bottom-color theme.timing(1), color theme.timing(1);
  
  &:hover {
    color: theme.color('accent_main');
    border-bottom-color: theme.color('accent_main');
  }
}

.mobileLink {
  @include styleHelpers.hideLink();
  font-size: calc(18px + 2vw);
  color: theme.color('text');
  margin-bottom: theme.spacing(3);
  cursor: pointer;

  &:hover {
    color: theme.color('accent_main');
    border-bottom-color: theme.color('accent_main');
  }
}

.linkActive {
  color: theme.color('accent_main');
  border-bottom-color: theme.color('accent_main');
}

.mobileMenu {
  @include styleHelpers.flex();
  @include styleHelpers.absoluteFill();
  position: fixed;
  background-color: theme.color('surface');
  padding-left: theme.spacing(2.5);
  padding-top: $HEIGHT;
  z-index: -1;
  justify-content: center;
  align-items: flex-start;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.icon {
  color: theme.color('text');
}