@use 'theme';
@use 'styleHelpers';

.section {
  padding: theme.spacing(12, 0);
  background-color: theme.color('surface');
}

.inner {
  @include styleHelpers.flex('column');
  justify-content: center;
  align-items: center;
}

.text {
  margin-bottom: theme.spacing(2);
  text-align: center;
}