@use 'styleHelpers';
@use 'theme';

$HEIGHT: 50px;

.spacer {
  @include styleHelpers.lockHeight($HEIGHT);
}

.section {
  @include styleHelpers.lockHeight($HEIGHT);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  border-top: 1px solid theme.color('divider');
  background-color: rgba(255,255,255,0.9);
  backdrop-filter: saturate(180%) blur(10px);
}

.inside {
  @include styleHelpers.flex('row');
  justify-content: space-between;
  align-items: center;
}

.row {
  @include styleHelpers.lockHeight($HEIGHT);
  @include styleHelpers.flex('row');
  align-items: center;
}

.col {
  @include styleHelpers.flex('column');
}

.icon {
  margin-right: theme.spacing(2);
  cursor: pointer;
}

.time {
  padding: theme.spacing(0, 2);
  text-align: center;
  min-width: 80px;
}

.coverImage {
  @include styleHelpers.lockHeight($HEIGHT - 10px);
  @include styleHelpers.lockWidth($HEIGHT - 10px);
  @include styleHelpers.centerBackgroundImage();
}

.centerHorizontally {
  align-items: center;
}