@use 'theme';
@use 'styleHelpers';

.searchWrap {
  position: relative;
  flex: 1;
  transition: opacity theme.timing(1);
}

.search {
  @include styleHelpers.card();
  border: 1px solid theme.color('divider');
  background-color: theme.color('surface');
  outline-width: 5px;
  position: relative;
  z-index: 1001;
  overflow: visible;
  height: 100%;
}

.searchInput {
  @include styleHelpers.unstyle();
  margin: theme.spacing(0, 0.5);
  height: 100%;
  min-width: 0;
  width: auto;
  flex: 1;
  line-height: 1rem;
  color: theme.color('text');
  // use custom outline for accesibility
  outline: none;
}

.searchPlaceholder {
  flex: 1;
  line-height: 1rem;
  color: theme.color('text');
  margin: theme.spacing(0, 0.5);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.7;
  line-height: 1em;
}

.searchIcon {
  @include styleHelpers.lockWidth(18px);
  color: theme.color('text');
  opacity: 0.7;
  cursor: pointer;
  margin: 0 3px;
}

.searchRow {
  @include styleHelpers.absoluteFill();
  @include styleHelpers.flex('row');
  align-items: center;
  justify-content: center;
  padding: theme.spacing(0, 1);
  transition: opacity theme.timing(1);
}

.hide {
  opacity: 0;
}

.touchTransparent {
  pointer-events: none;
}

.clickable {
  @include styleHelpers.hideButton();
  cursor: pointer;
  display: flex;
}

.preview { 
  position: absolute;
  background-color: theme.color('surface');
  top: calc(100% + 7px);
  position: absolute;
  right: 0;
  border-radius: theme.roundness(1);
  padding: theme.spacing(2, 0);
  border: 1px solid theme.color('divider');
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
  z-index: 1005;
  width: 500px;

  @include theme.mediaQuery('xs', 'lg') {
    width: 100%;
  }
}

.previewLink {
  @include styleHelpers.hideLink();
  display: flex;
  padding: theme.spacing(1.5, 3);

  &:focus {
    background-color: theme.color('highlight');
  }
}

.previewItem {
}

.backdrop {
  @include styleHelpers.absoluteFill();
  position: fixed;
  background-color: rgba(0, 0, 0, 0.726);
  height: 100vh;
  z-index: 1001;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}