@use 'styleHelpers';
@use 'theme';

.printLogo {
  display: none;
}

@media print {
  .printLogo {
    display: flex;
    @include styleHelpers.lockWidth(100px);
    padding: theme.spacing(2, 0);
  }

  .printable {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    flex: 1;

    * {
      visibility: visible;
      height: auto;
    }
  }
}