@use 'theme';
@use 'styleHelpers';

.tagBar {
  @include styleHelpers.flex('row');
  overflow-x: auto;
  padding: theme.spacing(2, 0);
}

.tag {
  color: #fff;
  background-color: #999;
  padding: theme.spacing(1, 2);
  margin-right: theme.spacing(1);
  border-radius: theme.roundness(1);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  user-select: none;
  text-transform: capitalize;
  white-space: nowrap;

  border: none;
}

.tagSelected {
  background-color: theme.color('accent_main');
}