@use 'theme';

@function lineHeight($type: 'default') {
  @if $type == 'paragraph' {
    @return 1.8em;
  }

  @else {
    @return 1.2em;
  }
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: var(--text-numberOfLines);
}

.h1 {
  font-size: 2.5rem;
  line-height: lineHeight();
  font-weight: 800;
  margin-bottom: theme.spacing(2);
}

.h2 {
  font-size: 2rem;
  line-height: lineHeight();
  font-weight: 700;
  margin-bottom: theme.spacing(2);
}

.h3 {
  font-size: 1.4rem;
  line-height: lineHeight();
  font-weight: 700;
  margin-bottom: theme.spacing(2);
}

.h4 {
  font-size: 1.2rem;
  line-height: lineHeight();
  font-weight: 700;
  margin-bottom: theme.spacing(1.5);
}

.h5 {
  font-size: 1rem;
  line-height: lineHeight();
  font-weight: 700;
  margin-bottom: theme.spacing(1);
}

.h6 {
  font-size: 0.8rem;
  line-height: lineHeight();
  margin-bottom: theme.spacing(2);
}

.p {
  font-size: 1rem;
  line-height: lineHeight('paragraph');
  margin-bottom: theme.spacing(2);
  word-break: break-word;
  hyphens: auto;
}

.span {
  font-size: 1rem;
  line-height: lineHeight();
}

.br {
  height: theme.spacing(2);
}

.noPadding {
  padding: 0;
}