@use 'theme';
@use 'styleHelpers';

.page {
  @include styleHelpers.pageCompact();
  flex: 1;
}

.post {
  cursor: pointer;
}

.square {
  @include styleHelpers.aspectRatioFullWidth(1);
}

.carousel {
  @include styleHelpers.absoluteFill();
  position: absolute !important;
}

.body {
  padding: theme.spacing(4);

  @include theme.mediaQuery('md') {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
}

.hideButton {
  @include styleHelpers.hideButton();
}

.multiplePhotosIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  cursor: inherit;
  pointer-events: none;
}