:root {
  --primary-color: #050505;
  --primary-contrastText-color: #ffffff;
  --primary-contrastTextMuted-color: rgba(255,255,255,0.8);
  --navbar-color: rgba(255,255,255,0.92);

  --accent-color: #cc0033;
  --text-color: #000;
  --text-muted-color: #555555;
  --spinner-color: #bbb;
  --background-color: #f7f7f7;
  --surface-color: #fff;
  --divider-color: rgba(0, 0, 0, 0.12);
  --touchable-highlight-color: #eee;
  --button-color: #eee;
}

@media (prefers-color-scheme: dark) {
  /* Dark Mode */
  /* :root {
    --primary-color: #1b1b1b;
    --primary-contrastText-color: #ffffff;
    --primary-contrastTextMuted-color: rgba(255,255,255,0.8);
    --navbar-color: rgba(33, 32, 32, 0.92);

    --accent-color: #f70737;
    --text-color: #fff;
    --text-muted-color: #555555;
    --spinner-color: #bbb;
    --background-color: #1b1b1b;
    --surface-color: rgb(0, 0, 0);
    --divider-color: rgba(255, 255, 255, 0.12);
    --touchable-highlight-color: #eee;
    --button-color: #eee;
  } */
}

.dark-mode { 
  --primary-color: #2c2c2c;
  --primary-contrastText-color: #ffffff;
  --primary-contrastTextMuted-color: rgba(255,255,255,0.8);
  --navbar-color: rgba(33, 32, 32, 0.92);

  --accent-color: #f70737;
  --text-color: #fff;
  --text-muted-color: #555555;
  --spinner-color: #bbb;
  --background-color: #131313;
  --surface-color: rgb(0, 0, 0);
  --divider-color: rgba(255, 255, 255, 0.12);
  --touchable-highlight-color: #eee;
  --button-color: #eee;

  color: var(--text-color);
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span { 
  padding: 0;
  margin: 0;
  /* display: inline-block; */
  /* display: block; */
}

a {
  color: var(--accent-color);
}

table tr th,
table tr td {
  text-align: left;
}

table tr th:last-child,
table tr td:last-child {
  text-align: right;
}

table th {
  background-color: var(--background-color);
}

table th,
table td {
  padding: 0;
}

table tr td {
  border-bottom: 1px solid var(--divider-color);
}

.animate-opacity {
  transition: opacity 3s;
}

.animate-opacity-fast {
  transition: opacity 0.2s;
}

.animate-color {
  transition: color 0.2s;
}

.animate-all-fast {
  transition: all 0.2s;
}

.animate-all-normal {
  transition: all 0.4s;
}

.animate-all-1s {
  transition: all 1s;
  transition-timing-function: linear;
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

.hide-scrollbars {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

/* Animation presets */
.animation-preset-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}